body{
    /* background-color: black; */
    /* background-color: #ffff; */
    background-color: rgb(78,91,45);
}

div{
    background-color: blue;
}

h1{
    /* color:red; */
    /* color: rgb(96,3,0) ; */
    color: #b9ce5b ;
}